<div class="container">
  <div class="widget ">
    <div class="row">
      <div class="col-md-6 ">
        <h2 class="mx-auto ">Juego de Flexibilidad</h2>
      </div>
      <label for="email" class="col-md-3 my-2 text-right ">Puntaje</label>
      <div class="col-md-3">
        <input type="text" placeholder="Puntaje Obtenido" class="form-control" id="text">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="widget ">
    <div class="row">
      <div class="col-md-12 " id="imagen">
      
        <div class="row">
          <h2 class="mx-auto">¿Es un n&uacute;mero par?</h2>
        </div>
        <div class="row">
          <div class="col-md-2 mx-auto">
            <button type="button" class="btn btn-sm btn-success btn-block">SI</button>
          </div>
          <div class="col-md-2 mx-auto">
            <button type="button" class="btn btn-sm btn-success btn-block"
              onclick="habilitarSegundaImagen()">SIGUIENTE</button>
          </div>
          <div class="col-md-2 mx-auto">
            <button type="button" class="btn btn-sm btn-success btn-block">NO</button>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto my-5">
        <button type="button" class="btn btn-lg btn-success btn-block" onclick="empezarTest()" id="botonIniciaTest">
          <p style="font-size: 48px;">Iniciar Test</p>
        </button>

        <div id="count_num" class="mx-auto count-num" >

        </div>
      </div>
    </div>
  </div>
</div>