<div class="container" id="panel-login">
  <div class="card" id="card-login">
    <div class="card-header cabecera-login">Inicio de Sesi&oacute;n</div>
    <div class="card-body">
      <div class="form-group" id="logo-login">
        <img src="assets/images/logounmsm.png" />
      </div>
      <form class="item"  (submit)="login()" >

        <div class="form-group">
          <label class="col-md-8" for="email">Correo Electr&oacute;nico</label>
          <div class="col-md-12">
            <input type="email" name="email" placeholder="Email" class="form-control"  [(ngModel)]="email" required size="20" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-8" for="password">Contrase&ntilde;a</label>
          <div class="col-md-12">
            <input type="password" name="password" placeholder="Password" class="form-control" [(ngModel)]="password" required
              size="15" />
          </div>
        </div>
        <div class="form-group texto-derecha">
          <div class="col-md-12">
            <a href="javascript:void">¿Olvidaste tu contrase&ntilde;a?</a>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-sm btn-block btn-success" style="cursor: pointer">Ingresar</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>